.follow-them-container{
    background: white;
    width: 100%;
    padding: 1rem;
    margin-top: 1.25rem;
}
.follow-them-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.red-text{
    color: var(--red);
}
.follow-btn{
    border: 1px solid var(--red);
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
}
.follow-btn:hover{
    background: var(--red);
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}
.followed-btn{
    border: 1px solid var(--red);
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
    background: var(--red);
    color: white;
    cursor: pointer;
}