.landingpage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    box-sizing: border-box;
}
.content{
    text-align: left;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.primary{
    color: var(--primary);
    font-size: 4rem;
}
.tag-lines{
    font-weight: 700;
}
.highlighted{
    color: grey;
    font-size: 2rem;
}
.socialNetworking-img{
    width: 65%;
}
@media screen and (max-width: 1110px){
    .socialNetworking-img{
        display: none;
    }
    .app-title{
        font-size: 3rem;
    }
}
.text-center{
    text-align: center;
}
.join-now{
    background: var(--primary);
    outline: none;
    color: white;
    border: 1px solid var(--primary);
    font-size: 1rem;
}
.join-now:hover{
    background: var(--secondary);
    cursor: pointer;
}
.small-sub-text{
    font-size: 1rem;
    color: var(--primary);
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
}
.small-sub-text:hover{
    color: var(--secondary);
    cursor: pointer;
}