.post-container{
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    width: 100%;
    max-width: 40rem;
    min-width: 40rem;
    text-align: left;
    background: white;
    height: max-content;
    margin-top: 2%;
    box-shadow: 1px 1px 3px 1px lightgrey;
}
.post-title{
    display: flex;
    gap: 1rem;
}
.post-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.post-icons{
    font-size: 1.25rem;
    color: grey;
    display: flex;
    justify-content: space-between;
}
.post-icons>*:hover{
    color: var(--primary);
    cursor: pointer;
}
.write-comment{
    display: flex;
    margin-bottom: 1.5rem;
    background: var(--background-grey);
    padding: 0.5rem 1rem;
    align-items: center;
}
.write-comment input{
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--background-grey);
    outline: none;
}
.write-comment i{
    font-size: 1.5rem;
    color: var(--primary);
    background: var(--background-grey);
    padding: 1rem;
}
.write-comment i:hover{
    background: lightgrey;
    transition-duration: 0.3s;
    cursor: pointer;
}