.post-container{
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    width: 100%;
    max-width: 40rem;
    min-width: 40rem;
    text-align: left;
    background: white;
    height: max-content;
    margin-top: 2%;
    box-shadow: 1px 1px 3px 1px lightgrey;
}
.post-content{
    position: relative;
    width: 100%;
}
.post-top-section{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.post-link{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.post-header{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.post-top-section i{
    border-radius: 62rem;
    padding: 0.25rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-top-section i:hover{
    background: lightgrey;
    transition-duration: 0.3s;
    cursor: pointer;
}
.post-options{
    background: white;
    font-weight: 500;
    width: max-content;
    position: absolute;
    box-shadow: 1px 1px 3px 1px lightgray;
    right: 0;
    top: 2.5rem;
    padding: 0.25rem;
}
.post-options>*{
    padding: 0.25rem 2rem;
}
.post-options>*:hover{
    background: var(--background-grey);
    cursor: pointer;
}
.post-icons{
    font-size: 1.25rem;
    color: grey;
    display: flex;
    justify-content: space-between;
}
.post-icons>*:hover{
    color: var(--primary);
    cursor: pointer;
}
.write-comment{
    display: flex;
    margin: 1.5rem 0rem;
    background: var(--background-grey);
    padding: 0.5rem 1rem;
    align-items: center;
}
.write-comment input{
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--background-grey);
    outline: none;
}
.write-comment i{
    font-size: 1.5rem;
    color: var(--primary);
    background: var(--background-grey);
    padding: 1rem;
}
.write-comment i:hover{
    background: lightgrey;
    transition-duration: 0.3s;
    cursor: pointer;
}