@import url("./components/user-avatar/user-avatar.css");
@import url("./pages/homepage/homepage.css");
@import url("./components/create-post/create-post.css");

:root{
    --background-grey: #F7F7F7;
    --primary: #139185;
    --secondary: #22aa9c;
    --red: #DD2D4A;
}
.btn{
    padding: 1rem 2rem;
    border-radius: 4px;
    width: 100%;
}
.post-btn{
    width: max-content;
    padding: 0.5rem 1.5rem;
    background: var(--primary);
    color: white;
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 1px;
    cursor: pointer;
}
.post-btn:hover{
    background: var(--secondary);
}
.avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 999px;
}
.grey-text{
    color: grey;
}
.red-text{
    color: #DD2D4A;
}
.follow-them-grid{

}